@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

body {
  margin: initial;
  background: linear-gradient(to bottom, rgb(214 219 230), rgb(255 245 255));
}

* {
  box-sizing: border-box;
}
