@import '@taiga-ui/core/styles/taiga-ui-theme.less';
@import '@taiga-ui/core/styles/taiga-ui-fonts.less';
@import '@taiga-ui/styles/taiga-ui-global.less';

:root {
  --tui-text-01: rgb(0 0 0 / 87%);
  --tui-text-02: rgb(0 0 0 / 67%);
  --tui-text-03: rgb(0 0 0 / 37%);
  --tui-clear-hover: rgb(0 0 0 / 4%);
  --tui-clear-active: rgb(0 0 0 / 8%);
  --tui-font-heading-1: normal 3.125rem/3.5rem var(--tui-font-heading);
  --tui-font-heading-2: normal 2.75rem/3rem var(--tui-font-heading);
  --tui-font-heading-3: normal 2.25rem/2.5rem var(--tui-font-heading);
  --tui-font-heading-4: normal 1.75rem/2rem var(--tui-font-heading);
  --tui-font-heading-5: normal 1.5rem/1.75rem var(--tui-font-heading);
  --tui-font-heading-6: normal 1.25rem/1.5rem var(--tui-font-heading);
}

body {
  margin: initial;
}

* {
  box-sizing: border-box;
}
