<lpj-nav-item-group *ngFor="let group of itemGroups()" [heading]="group.name">
  <a *ngFor="let item of group.items" [routerLink]="item.path">
    <lpj-nav-item
      [active]="itemActive() === item"
      (mouseenter)="itemMouseEnter.emit(item)"
    >
      <span class="text">{{ item.name }}</span>
      <div
        class="active-overlay"
        *ngIf="itemActive() === item"
        id="nav-item-active-overlay"
        layout
      ></div>
      <div
        class="hover-overlay"
        *ngIf="itemLastHovered() === item"
        id="nav-item-hover-overlay"
        layout
      ></div>
    </lpj-nav-item>
  </a>
</lpj-nav-item-group>
