<div class="container">
  <div class="tabs" *lpjAnimationScope>
    <ng-container
      *lpjAnimationTrigger="tabActive; for: ['overlay', 'underline']"
    ></ng-container>
    <div
      class="tab"
      [class.active]="tabActive === tab"
      *ngFor="let tab of tabs"
      (click)="tabActive = tab"
    >
      <span class="tab-title">{{ tab.title }}</span>
      <ng-container *ngIf="tabActive === tab">
        <div
          class="tab-overlay"
          lpjNode="overlay"
          [lpjAnimation]="{ duration: 450 }"
        ></div>
        <div
          class="tab-underline"
          lpjNode="underline"
          [lpjAnimation]="{ duration: 225 }"
        ></div>
      </ng-container>
    </div>
  </div>
</div>
