:host {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--tui-heading-font);
  font-weight: normal;
  font-size: 18px;
  text-transform: uppercase;
  user-select: none;
}
