@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: contents;
}

.root {
  display: flex;
}

.nav {
  position: sticky;
  top: 0;
  width: 280px;
  height: 100vh;
  border-right: 1px solid var(--tui-base-03);
  @media @tui-tablet {
    display: none;
  }
}

.main {
  flex: 1;
  min-width: 0;
}

.header {
  position: sticky;
  top: 0;
  z-index: 1;
  @media @tui-desktop-min {
    display: none;
  }
}
