:host {
  display: contents;
}

.root {
  display: flex;
}

.nav {
  position: sticky;
  top: 0;
  width: 280px;
  height: 100vh;
  border-right: 1px solid var(--tui-base-03);
}

.main {
  flex: 1;
  min-width: 0;
  display: block;
  height: 100%;
}
