:host {
  display: flex;
  height: 100%;
  flex-direction: column;
  background-color: var(--tui-base-01);
}

.logo {
  margin: 80px auto 36px;
}

.nav-menu-wrapper {
  flex: 1;
  min-height: 0;
}

.nav-menu {
  margin: 0 8px;
}
