@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: block;
}

.content {
  padding: 3rem 5rem;
  width: 60rem;
  margin: 0 auto;
  @media @tui-tablet {
    padding: 1rem 2.5rem;
  }
  @media @tui-mobile {
    padding: 1rem 1.25rem;
  }
}
