@import '@taiga-ui/core/styles/taiga-ui-local.less';

:host {
  display: flex;
  max-width: 1240px;
  margin: 0 auto;
  padding: 3rem 5rem;
  gap: 5rem;
}

.content {
  flex: 1;
  min-width: 0;
  max-width: 48rem;
  @media @tui-tablet {
    padding: 1rem 2.5rem;
  }
  @media @tui-mobile {
    padding: 1rem 1.25rem;
  }
}

.toc {
  position: sticky;
  top: 80px;
  width: 200px;
  height: fit-content;
}
