:host {
  position: relative;
  display: flex;
  align-items: center;
  padding: 4px 24px;
  border-radius: 8px;
  color: rgb(0 0 0 / 67%);
  font: var(--tui-font-text-m);
  user-select: none;
  cursor: pointer;

  &.active {
    color: rgb(0 0 0 / 87%);
  }
}

.content {
  position: relative;
  width: fit-content;
  padding: 4px 16px;
  border-radius: inherit;
}
